body,ul,dd,p{
	margin:0;
	padding:0;
}
li{
	list-style:none;
}
body,div,p,li{
	font-family:"微软雅黑";
	font-size:12px;
	color:#333;
}
a{
	border:0;
	text-decoration: none;
}
a:hover{
	color:#e70;
}
#box { 
	width: 920px; 
	margin: 20px auto 0;
}
.left { 
	float: left;
	width: 160px; 
}
.left h2 { 
	font-size: 20px; 
	margin-bottom: 30px; 
}
.left li { 
	margin-bottom: 5px;  
}
.left li a { 
	color: #333; 
	font-size: 14px; 
	display: block; 
	height: 25px;
	line-height: 25px; 
	text-align: center; 
}
.left li.active a,.left li a:hover { 
	color: #fff; 
	background: #328fbe; 
}

.right,.content { 
	float: right; 
	width: 700px; 
	border-left: 1px solid #AAAAA9;
	padding-left: 40px;
}
.right .title { 
	padding: 50px 0 20px;
	font-size: 18px;
	font-weight: bold;
}
.right .ft a{
	color: #333; 
}
.right .ft a:hover{
	color:#e70;
}
.right .ft span { 
	font-size: 13px; 
	font-weight: bold; 
	margin-right: 30px;
}
.right .ft .dates { 
	position: relative; 
	left: 30px; 
	font-weight: normal; 
}
.right .fcont {
	color: #666;
	line-height: 24px; 
	margin-bottom: 37px; 
	padding-top: 6px;
}
.right .fcont a {
	color: #328fbe;
}
.page { 
	width: 700px;
	height: 26px;
	border: 1px solid #d6d6d6;
	background: #e2e2e2; 
	margin: 30px 0 40px; 
	position: relative;
	font-size: 18px;
}
.page .pre {
	 position: absolute;
	 left: 13px;
	 top: 2px;
}
.page .next { 
	position: absolute; 
	right: 13px;
	top: 2px;
}
.page a{
	color: #333;  
}
.page p {
	padding-left: 80px;
	font-size: 18px;
}
.page p span {
	float: left; 
	margin-top: 3px; 
	margin-left: 2px;
}
.page p span a {
	display: block; 
	width: 20px; 
	height: 20px; 
	text-align: center; 
	line-height: 20px;
}
.page p span.act a,.page p a:hover {
	background: #666; 
	color: #fff; 
}
.content h2{
	font-size: 17px;
	color: #0298D6;
}
.fl{
	display: inline-block;
	width: 300px;
	line-height: 24px;
	color: #666;
}
.content dl,.content p {
	margin-top:26px;
}
.content dl dt {
	line-height:28px;
}
.content dl dd {
	line-height:24px;
}

.content {
	padding-bottom: 20px;
}
