body,p,h1,h2,h3,h4,h5,h6,dl,dd{
	margin: 0; 
	font-size: 0px;
	}
ol,ul{ 
	list-style:none; 
	margin: 0;
	padding:0;
	}
a{
	text-decoration: none;
	}
img{
	border: none;
	vertical-align: top;
	}
.clearfixed:after{
	content: "";
	display: block;
	clear: both;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
body{
	background: #f1f1f1;
}
/*吊顶*/
.top{
	width: 100%;
	height: 50px;
	background-color: #333436;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 20;
}
.top-1{
	width: 78%;
	margin: 0 auto;
	height: 50px;
	padding-left: 172px;
	position: relative;
}
.top-1 i{
	display: block;
	width: 130px;
	height: 50px;
	background: url(../img/1.gif) no-repeat;
	position: absolute;
	top: 0;
	left: 0;
}
.top-lf li{
	margin-right: 40px;
	line-height: 50px;
}
.top-lf li a{
	font-size: 12px;
	color: #8e8f91;
}
.top-lf .more{
	position: relative;
}
.top-lf .more i{
	display: block;
	width: 9px;
	height: 50px;
	background: url(../img/1.gif) no-repeat;
	background-position: -132px 0;
	position: absolute;
	top: 0;
	left: 28px;
	
}
.top-rt{
	position: relative;
	padding-left: 43px;
}
.top-rt i{
	display: block;
	width: 15px;
	height: 50px;
	background: url(../img/1.gif) no-repeat;
	background-position: -140px 0;
	position: absolute;
	top: 0;
	left: 0;
}
.top-rt a{
	display: block;
	width: 70px;
	height: 32px;
	background: #505050;
	font-size: 12px;
	color: #b0b0b0;
	line-height: 32px;
	text-align: center;
	margin-top: 10px;
}
.top-rt .green{
	background: #6bc30d;
	color: #fff9ff;
}
/*倒计时*/
.time{
	height: 200px;
	margin-top: 10px;
}
.time i{
	display: block;
	width: 100%;
	height: 200px;
	background: url(../img/banner.jpg) no-repeat;
}
.time-content{
	width: 403px;
	margin: -175px auto 0;
	position: relative;
	padding-top: 40px;
}
.time-content img{
	width: 403px;
	height: 66px;
}
.what{
	width: 240px;
	margin: 22px auto 0;
	
}
.what a{
	display: block;
	width: 120px;
	height: 30px;
	background: #01b4dd;
	font-size: 12px;
	color: white;
	line-height: 30px;
	text-align: center;
}
.what .u{
	background: #486d7f;
	color: #728d9e;
}
/*导航*/
nav{
	width: 100%;
	height: 60px;
	background: #f7f9f8;
	box-shadow: 0 1px 5px 0 #bfbfbf;
}
.nav{
	width: 1182px;
	margin: 0 auto;
}
.nav li{
	margin-top: 10px;
	line-height: 38px;
	text-align: center;
	margin-right: 30px;
}
.nav .new{
	margin-left: -15px;
}
.nav .nav1 a span{
	padding-left: 0;
}
.nav1{
	width: 123px;
	height: 38px;
	background: #edefee;
	border: 1px solid #d9dbda;
}
.nav li a{
	font-size: 12px;
	color: #525453;
	position: relative;
}
.nav li a span{
	padding-right: 21px;
	padding-left: 22px;
}
.nav li .i1{
	display: block;
	width: 12px;
	height: 6px;
	background: url(../img/1.gif) no-repeat;
	background-position: -220px 0;
	position: absolute;
	right: 0;
	top: 2px;
}
.nav li .i2{
	background-position: -220px -7px;
}
.nav-bg{
	display: block;
	width: 16px;
	height: 18px;
	background: url(../img/1.gif) no-repeat;
	background-position: -240px 0;
	position: absolute;
	top: -2px;
	left: 0;
}
.nav-bg1{
	width: 15px;
	background-position: -254px 0;
}
.nav-bg3{
	width: 15px;
	background-position: -268px 0;
}
.guang{
	font-size: 12px;
	color: #188906;
	position: relative;
}
.guang span{
	padding-left: 35px;
}
.guang span strong{
	font-weight: normal;
	color: #949494;
}
.nav-bg4{
	width: 15px;
	background-position: -284px 0;
	position: absolute;
	left: 0;
	top: 12px;
}
.jian{
	padding-top: 12px;
	padding-left: 321px;
}
.jian a{
	display: block;
	width: 9px;
	height: 6px;
	background: url(../img/1.gif) no-repeat;
	background-position: -220px -20px;
}
.jian .nav-bg6{
	background-position: -220px -26px;
	margin-top: 7px;
}
/*主体内容部分-广告*/
.section,.page1,.recommend{
	width: 1182px;
	margin: 0 auto;
}
.section .li2,.section .li1{
	margin-right: 20px;
	margin-top: 45px;
	box-shadow: 0 0px 5px 0 #c9c9c9;
}
.section .cd3{
	margin-right: 0;
}
.section .li1{
	width: 280px;
	height: 270px;
	background: #fff;
}
/*.cd1 img{
	width: 582px;
	height: 272px;
}*/
.li1-top{
	height: 226px;
	border-bottom: 1px solid #f2f2f2;
}
.li1-top img{
	margin-bottom: 15px;
}
.li1-top p{
	font-size: 12px;
	color: #cacaca;
	margin-left: 20px;
}
.li1-top p span{
	padding-left: 25px;
	position: relative;
	margin-right: 14px;
}
.li1-bg{
	display: block;
	width: 19px;
	height: 14px;
	background: url(../img/1.gif) no-repeat;
	background-position: -240px -20px;
	position: absolute;
	top: 0;
	left: 0;
}
.li1-bg1{
	background-position: -240px -43px;
}
.li1-bg2{
	background-position: -260px -20px;
}
.li1-bottom{
	display: block;
	height: 26px;
	padding-top: 18px;
}
.li1-bottom span{
	font-size: 12px;
	color: #b9b9b9;
	padding-left: 41px;
	position: relative;
	margin-left: 22px;
}
.li1-bottom em{
	font-style: normal;
}
.li1-bottom em:hover{
	color: green;
}
.li1-bottom1{
	display: block;
	width: 19px;
	height: 21px;
	background: url(../img/1.gif) no-repeat;
	background-position: -260px -40px;
	position: absolute;
	top: -5px;
	left: 0;
}
.li1-bottom2{
	display: block;
	width: 16px;
	height: 17px;
	background: url(../img/1.gif) no-repeat;
	background-position: -279px -20px;
	margin-right: 20px;
}
.li1-bottom3{
	display: block;
	width: 23px;
	height: 19px;
	background: url(../img/1.gif) no-repeat;
	background-position: -280px -40px;
	position: absolute;
	top: 0px;
	left: 0;
}
.li1-bottom4{
	display: block;
	width: 24px;
	height: 24px;
	background: url(../img/1.gif) no-repeat;
	background-position: -300px -0px;
	position: absolute;
	top: -5px;
	left: 0;
}
.li1-bottom4-1{
	background-position: -324px -0px;
}
.li1-bottom4-2{
	background-position: -348px -0px;
}
.li1-bottom4-3{
	background-position: -372px -0px;
}
.li1-bottom4-4{
	background-position: -396px -0px;
}
.li1-bottom4-5{
	background-position: -420px -0px;
}
.li1-bottom4-6{
	background-position: -444px -0px;
}
.li1-bottom4-7{
	background-position: -468px -0px;
}
.li1-bottom4-8{
	background-position: -300px -25px;
}
.li1-bottom4-9{
	background-position: -324px -25px;
}
.li1-bottom4-10{
	background-position: -348px -25px;
}
.li1-bottom4-11{
	background-position: -372px -25px;
}
.li1-bottom4-12{
	background-position: -396px -25px;
}
/*主体内容部分-翻页*/
.page1{
	height: 36px;
	margin: 45px auto 40px;
}
.page1 a{
	display: block;
	width: 36px;
	height: 36px;
	background: #fff;
	margin-right:5px;
	box-shadow: 0 0 3px 0 #dcdcdc;
	font-size: 12px;
	color: #b8b8b8;
	line-height: 36px;
	text-align: center;
	font-family: "微软雅黑";
}
.page1 span{
	display: block;
	width: 36px;
	height: 36px;
	font-size: 12px;
	color: #b8b8b8;
	line-height: 36px;
	text-align: center;
	font-family: "微软雅黑";
	margin-right: 5px;
}
.page1 .blone a{
	font-weight: bold;
}
.page1 .green-1 a{
	color: white;
	background: #6dc90e;
}
.recommend{
	height: 301px;
	margin-bottom: 40px;
}
.recommend-1,.recommend-2{
	width: 581px;
	height: 301px;
	background: white;
	box-shadow: 0 0px 5px 0 #c9c9c9;
	font-size: 12px;
}
.recommend-1 img{
	width: 46px;
	height: 46px;
	margin-right: 19px;
}
.recommend-1 .heard,.recommend-2 .heard{
	width: 581px;
	height: 60px;
	border-bottom: 1px solid #f1f1f1;
	line-height: 60px;
	margin-bottom: 20px;
}
.recommend1 .heard{
	width: 1180px;
	height: 60px;
	border-bottom: 1px solid #f1f1f1;
	line-height: 60px;
	margin-bottom: 20px;
}
.recommend-1 .heard span,.recommend-2 .heard span,.recommend1 .heard span{
	font-size: 18px;
	color: #676767;
	padding-left: 18px;
	font-weight: bold;
}
.recommend-2 .heard span{
	display: block;
	width: 338px;
}
.recommend-2 .heard .fu{
	display: block;
	width: 61px;
	height: 60px;
	border-left: 1px solid #f1f1f1;
	text-align: center;
	color: #828282;
	font-size: 14px;
	font-family: "微软雅黑";
}
.recommend-1 .heard a,.recommend-2 .heard .more{
	display: block;
	width: 99px;
	height: 60px;
	border-left: 1px solid #f1f1f1;
	text-align: center;
	color: #7e7e7e;
}
.recommend-1 ul,.recommend-2 .content{
	padding-left: 20px;
}
.recommend-2 .content img{
	margin-right: 20px;
}
.recommend-1 li{
	width: 200px;
	margin-right: 70px;
	height: 46px;
	margin-bottom: 24px;
}
.recommend-1 li p,.recommend-2 p{
	font-size: 12px;
	color: #b8b8b8;
}
.recommend-2 p{
	width: 230px;
}
.recommend-2 p a{
	display: block;
	font-size: 16px;
	color: #515151;
	padding-top: 16px;
	padding-bottom: 10px;
}
.recommend-2 p span{
	display: block;
	line-height: 24px;
	padding-top: 17px;
	color: #7d7d7d;
}
.recommend-1 li p a{
	display: block;
	color: #696969;
	padding-top: 6px;
	padding-bottom: 8px;
}
.recommend1{
	width: 1180px;
	height: 200px;
	background: white;
	margin: 0 auto 40px;
	box-shadow: 0 0px 5px 0 #c9c9c9;
}
.recommend1 .heard a{
	display: block;
	width: 210px;
	height: 60px;
	border-left: 1px solid #f1f1f1;
	text-align: center;
	color: #7e7e7e;
	font-size: 12px;
	font-family: "微软雅黑";
}
.recommend1 ul{
	padding-left: 18px;
}
.recommend1 ul a{
	font-size: 12px;
	color: #676767;
}
.recommend1 ul a em{
	font-style: normal;
	color: #acacac;
}
.recommend1 ul li{
	width: 120px;
	text-align: center;
	margin-right: 25px;
}
.recommend1 ul a span{
	display: block;
	width: 120px;
	padding-left: 6px;
}
.recommend1 ul  .nice a span{
	padding-left: 0px;
}
footer{
	width: 100%;
	height: 100px;
	background: #222325;
}
footer .fot{
	width: 1180px;
	margin: 0 auto;
	position: relative;
	padding-top: 22px;
}
.hy img{
	position: absolute;
	top: 14px;
	right: 0;
}
.fot p{
	font-size: 12px;
	line-height: 19px;
	font-family: "微软雅黑";
}
.fot p .bottom{
	display: block;
	padding-top: 20px;
}
.fot p a,.fot p span{
	color: #cdced0;
	margin-right: 39px;
}

.fot p span{
	color: #68696b;
}
.fot p .bottom a{
	margin-right: 0;
	color: #66a20c;
}




/*响应式设计*/
@media screen and (max-width:1232px ) {
	.top-1{
		width: 60%;
		margin: 0 auto;
		height: 50px;
		padding-left: 172px;
		position: relative;
		}
	.top-lf{
		display: none;
		}
	.top-1 .bei span{
		display: block;
		width: 56px;
		height: 50px;
		background: url(../img/1.gif) no-repeat;
		background-position: -155px 0;
	}
	.top-rt{
		position: absolute;
		top: 0;
		right: 0;
	}
.guang,.jian{
	display: none;
}
nav .nav{
	width: 75%;
	margin: 0 auto;
}
.section{
	width: 882px;
	margin: 0 auto;
}
.page1{
	width: 75%;
	margin: 45px auto 40px;
}
body .section .cd3{
	margin-right: 20px;
}
body .section .cd2{
	margin-right: -20px;
}
.recommend{
	display: none;
}
.recommend1{
	width: 75%;
	height: 304px;
	background: white;
	margin: 0 auto 40px;
	box-shadow: 0 0px 5px 0 #c9c9c9;
} 
.recommend1 li{
	margin-bottom: 35px;
}
.recommend1 ul .ps{
	margin-right: 0;
}
footer .fot{
	width: 75%;
	margin: 0 auto;
	position: relative;
}
}

@media screen and (max-width:932px){
.top-1{
		width: 50%;
		margin: 0 auto;
		height: 50px;
		padding-left: 172px;
		position: relative;
		}
nav .nav{
	width: 582px;
	margin: 0 auto;
}
.section{
	width: 582px;
	margin: 0 auto;
}
body .section .cd2{
	margin-right: 20px;
}
body .section .cd4{
	margin-right: 0px;
}
.page1{
	width: 582px;
	margin: 45px auto 40px;
}
.recommend1{
	width: 581px;
	height: 304px;
	background: white;
	margin: 0 auto 40px;
	box-shadow: 0 0px 5px 0 #c9c9c9;
} 
.recommend1 ul .ps{
	margin-right: 25px;
}
.recommend1 ul .manmiao,.recommend1 ul .huixiang{
	margin-right: 0px;
}
footer .fot{
	width: 581px;
	margin: 0 auto;
	position: relative;
}
.hy img{
	position: absolute;
	top: 35px;
	right: 0;
}
.fot-fl{
	display: block;
	width: 484px;
}
}
@media screen and (max-width:578px){

.time i{
	width: 101%;
}
.top-1{
		width: 578px;
		margin: 0;
		height: 50px;
		padding-left: 172px;
		position: relative;
		}
.top-rt{
		position: absolute;
		top: 0;
		right: 170px;
	}
nav{
	width: 100%;
}
nav .nav{
	width: 100%;
	margin: 0 auto;
}
nav .nav{
	width: 578px;
	margin: 0 auto;
}
.section{
	width: 582px;
	margin: 0 auto;
}
body .section .cd2{
	margin-right: 20px;
}
body .section .cd4{
	margin-right: 0px;
}
.page1{
	width: 582px;
	margin: 45px auto 40px;
}
.recommend1{
	width: 582;
	height: 304px;
	background: white;
	margin: 0 auto 40px;
	box-shadow: 0 0px 5px 0 #c9c9c9;
} 
.recommend1 ul .ps{
	margin-right: 25px;
}
.recommend1 ul .manmiao,.recommend1 ul .huixiang{
	margin-right: 0px;
}
footer .fot{
	width: 581px;
	margin: 0 auto;
	position: relative;
}
.hy img{
	position: absolute;
	top: 35px;
	right: 0;
}
.fot-fl{
	display: block;
	width: 484px;
}
}




